<div class="container">
  <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>El pago se realizo correctamente</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2>Gracias por utilizar nuestros servicios.</h2>
        <br>
        <h3>Recibirás un correo una vez tu transacción sea aprobada, de lo contrario uno de nuestros agentes se pondrá en contacto.</h3>
        <div class="button-row">
          <button mat-raised-button color="primary" (click)="ok()">Ok</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>