.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.user_data {
  font-size: .9em;
  color: rgb(255, 255, 255);
}

mat-icon {
  vertical-align: middle;
}

.img-round {
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .user_data {
    display: none;
  }
}