<mat-toolbar color="primary">
<mat-toolbar-row>
    <img class="img-round" width="48" height="48" src="assets/images/palito-logo.png" alt="logo-img"> 
    <span>Palito</span>  
    <span class="example-spacer"></span>

    <button mat-button routerLink="/flights"><mat-icon>flight</mat-icon> Vuelos</button>
    <button mat-button routerLink="/packages"><mat-icon>attach_money</mat-icon> Cotizar paquetes</button>
    <button mat-button (click)="openLoginModal();" *ngIf="!currentUser"><mat-icon>person</mat-icon> Entrar</button>
    <div *ngIf="currentUser">
        <button mat-button [matMenuTriggerFor]="menu">
            <img class="img-round" width="32" height="32" src="{{currentUser.picture}}" alt="user-img"> <span class="user_data"> {{currentUser.nickname}}</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click) = "logout();">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar-row>
</mat-toolbar>