<div class="container">
  <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pedidos</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="Numero de pedido" name="username" [(ngModel)]="reservationCode">
          </mat-form-field>
          <span class="error" *ngIf="errorMessage.error">{{errorMessage.message}}</span>
    
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="getReservation()">Pagar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>