<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form class="text-center border border-light p-5">
        <p class="h4 mb-4">Pedidos</p>
  
        <div class="md-form">
          <input mdbInputDirective type="number" id="search" class="form-control">
          <label for="search" class="">Ingrese el número de su pedido</label>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <button mdbBtn color="indigo" type="submit" mdbWavesEffect>Pagar</button>
          </div>
        </div>
    </form>
  </div>
</div>