<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
  <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput placeholder="Username" name="username" [(ngModel)]="user.username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
</div>